.circles-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: gray;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.text-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
